@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&family=Roboto+Condensed&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

.logo{
    display: flex;
    
    text-align: center;
}

.logo img{
    width: 70px;
    border: 3px solid black;
    border-radius: 50px;
}


.navbar{
    display: flex;
    justify-content: center;
    text-align: center;
    position: sticky;
    top: 0%;
}
.nav-list{
    width: 70%;
    /* background-color: yellow; */
    display: flex;
   
    text-align: center;
    padding: 0 20px;
}
.nav-list li{

   list-style: none;
   padding: 20px 27px;
    
}

.nav-list li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

.nav-list li a:hover{
    color: rgb(252, 250, 248);
}
.rightnav{
   /* background-color: tomato; */
   width: 30%;
   text-align: right;
   padding: 2px 23px;
  
    
}

#search{
    font-size: 1.2rem;
    padding: 5px ;
    margin-top: 10px;
    border: 2px solid grey;
    border-radius: 25%;
}

.btn{
    cursor: pointer;
    font-size: 1.2rem;
}

.background{
    background: rgba(0, 0, 0, 0) url('../back2.jpg');
    background-size: cover;
    background-blend-mode: darken;
}


.firstsection{
    /* height: 70vh; */
    
   
    
}
.Box-Main{
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 50%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    
    padding: 8%;

    
    
}

.firsthalf{
    width: 70%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

.secondhalf{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50%;
}

.secondhalf img{
    width: 50%;
    border: 2px solid whitesmoke;
    border-radius: 50%;

}

#P1{
    font-size: 1.3rem;
    font-family: 'Roboto Condensed', sans-serif;

}

.btn{
    padding: 4px;
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 8px ;
    background: none;
}

.sections{
    max-width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;

    padding: 50px 10px;

    
}

.sub-section{
    padding: 0% 50px;
}

.left-section{
    flex-direction: row-reverse;
}
#P2{
    padding: 5px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.images{
    width: 200px;
    /* border: 2px solid black; */
    border-radius: 20px;
}
.contact{
    background-color: whitesmoke;
    height: 800px;
}
.text-center{
    text-align: center;
    padding: 20px;
    font-family: 'Roboto Condensed', sans-serif;

}

.form{
    max-width: 1200px;
    margin: 20px auto;
   
}

.form-input{
    margin: 14px 0;
    padding: 5px 3px;
    width: 100%;
    font-size: 20px;
    border: 2px solid grey;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-dark{
    border: 2px solid grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
    margin: auto;
}

.text-footer{
    text-align: center;
    font-size: 1.2rem;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 5%;
}

.line{
    width: 33px;
    height: 4px;
    margin: 5px 3px;
    background-color: black;

}

 @media only screen and (max-width:1196px) {
    .nav-list{
        flex-direction: column;
        margin:auto
    }
    .logo{
        margin: auto;
    }
    .rightnav{
        text-align: center; 
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .navbar{
        height: 440px;
        flex-direction: column;
        transition: all 0.7s ease-out;
    }
    #search{
        max-width: 100%;
    }

    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 42px;
    }
    .v-class-resp{
        opacity: 0;
    }
} 

@media only screen and (max-width:860px){
    .Box-Main{
        flex-direction: column-reverse;
    }
    .firsthalf{
        margin: auto;
    }
    .secondhalf{
        margin: auto;
    }
    .sections{
        flex-direction: column-reverse;
    }
    .images{
        margin: auto;
    }
    .form{
        margin: 20%;
    }
    .firstsection{
        height: auto;
    }

}